<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springS.dao.Mapper">

  <insert id="memberId">
    insert into test
    values('idid23','passpass')
  </insert>
  
  
  <delete id="deleteId">
  delete from test
  where memberId = 'test';
  
  </delete>
  
</mapper>